<p id="notice"><%= notice %></p>

<h1>Your cart</h1>

<% @cart.line_items.each do |item| %>
  <div class="well">
    <p><%= pluralize(item.quantity, item.product.name) %> in cart</p>
    <p><%= image_tag(item.product.image.thumb) %></p>
    <p><h4><%= item.product.name %></h4></p>
    <p><%= number_to_currency(item.product.price) %> per bottle</p>

  </div>
<% end %>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>